<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <link rel="shortcut icon" href="{{ static_url("favicon.png") }}" type="image/png" />
  <link rel="icon" href="{{ static_url("favicon.png") }}" type="image/png" />
  <link rel="stylesheet" type="text/css" href="{{ static_url("css/style.css") }}" />
  <title>{% block title %}淡竹园{% end %}</title>
  {% block head %}{% end %}
</head>
<body id="top">
  <header>
    <div class="view">
      <div class="top-bar">
        <div class="logo">
          <a href="/">淡竹园</a>
        </div>
        <div class="user-panel">
          {% if current_user %}
            {{ current_user }} | <a href="/logout?action=1">退出帐号</a>
          {% else %}
            <a href="/login">登录</a> ｜
            <!-- <a href="/reg">注册</a> -->
          {% end %}
        </div>
      </div>
      <nav class="navigation">
        <a class="" href="/">首页</a>
        <a class="" href="#">目录</a>
        <a class="" href="/edit">投稿</a>
      </nav>
    </div>
  </header>
  <main>
    <div class="view">
      {% block body %}{% end %}
    </div>
  </main>
  <footer>
    <div class="view">
      <a href="#top">返回顶部</a>
      <p>
        淡竹园 DanZhuYuan ♥
      </p>
    </div>
  </footer>
</body>
</html>
