<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../static/css/material.min.css">
  <link rel="stylesheet" href="../static/css/icons.css">
  <link rel="stylesheet" href="../static/css/style.css">
  <title>{% block title %}扬气吐眉{% end %}</title>
  {% block head %}{% end %}
</head>
<body>
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-color--grey-100">
    <header class="mdl-layout__header">
      <div class="mdl-layout__header-row">
        <span class="mdl-layout-title">扬气吐眉</span>
        <div class="mdl-layout-spacer"></div>
        <nav class="mdl-navigation mdl-layout--large-screen-only">
          <a class="mdl-navigation__link" href="/">首页</a>
          <a class="mdl-navigation__link" href="/edit">投稿</a>
          <a class="mdl-navigation__link" href="/help">帮助</a>
        </nav>
      </div>
    </header>
    <div class="mdl-layout__drawer">
      <span class="mdl-layout-title">Capricorn</span>
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="/">首页</a>
        <a class="mdl-navigation__link" href="/edit">投稿</a>
        <a class="mdl-navigation__link" href="/help">帮助</a>
      </nav>
    </div>
    <main class="mdl-layout__content">
      <div class="page-content capricorn-min-height">
        <span id="contenttop"></span>
        <div class="mdl-grid capricorn-max-width capricorn-min-height">
          {% block body %}{% end %}
        </div>
        <footer class="mdl-mini-footer">
          <div class="mdl-mini-footer__left-section">
            <div class="mdl-logo">扬气吐眉</div>
            <ul class="mdl-mini-footer__link-list">
              <li><a href="#">Help</a></li>
              <li><a href="#">Privacy & Terms</a></li>
            </ul>
          </div>
        </footer>
      </div>
    </main>
  </div>
  <script src="../static/js/material.min.js"></script>
</body>
</html>
