<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <meta name="theme-color" content="#0f9d58">
  <link rel="shortcut icon" href="{{ static_url("favicon.png") }}" type="image/png" />
  <link rel="icon" href="{{ static_url("favicon.png") }}" type="image/png" />
  <link rel="stylesheet" type="text/css" href="{{ static_url("css/style.css") }}"/>
  <title>{% block title %}淡竹园{% end %}</title>
  {% block head %}{% end %}
</head>
<body>
  <header>
    <div class="view">
      <h1>淡竹园</h1>
      <nav>
        <a href="/">首页</a>
        <a href="/search">搜索</a>
        <a href="/edit">投稿</a>
        |
        {% if current_user %}
          <a href="/account">{{ current_user }}</a>
          <a href="/logout?action=1">退出</a>
        {% else %}
          <a href="/login">登录</a>
          <!-- <a href="/reg">注册</a> -->
        {% end %}
      </nav>
    </div>
  </header>
  <main>
    <div class="view">
      {% block body %}{% end %}
    </div>
  </main>
  <footer>
    <div class="view">
      <p>
        <a href="javascript:scroll(0,0)">返回顶部</a>
      </P>
      <p>
        淡竹园 DanZhuYuan ♥
      </p>
    </div>
  </footer>
</body>
</html>
