{% extends "base.html" %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="../static/editor/css/wangEditor.min.css">
{% end %}

{% block body %}
<div class="container">
    <h1>稿子编辑</h1>
    <p>{{ info }}</p>
    <form action="/edit" method="post">
      {% raw xsrf_form_html() %}
      <div>
        <p>
          <h2>标题</h2>
          <input name="title" type="text" required>
        </p>
        <textarea id="textarea" name="text" style="height:600px;"><p>请输入内容...</p></textarea>
      </div>
      <div>
        <p>
          为这篇文章选一个合适的标签：
          <input type="radio" name="tag" value="微信" required>微信
          <input type="radio" name="tag" value="支付宝">支付宝
        </p>
        <p>
          <input type="submit">
        </p>
      </div>
    </form>
  </div>
  <script type="text/javascript" src="../static/editor/js/lib/jquery-1.10.2.min.js"></script>
  <script type="text/javascript" src="../static/editor/js/wangEditor.js"></script>
  <script type="text/javascript">
  var editor = new wangEditor('textarea');
  editor.config.menus = [
    'bold',
    'underline',
    'eraser',
    'forecolor',
    '|',
    'quote',
    'head',
    'unorderlist',
    'orderlist',
    'alignleft',
    'aligncenter',
    'alignright',
    'table',
    '|',
    'link',
    'unlink',
    'img',
    'video',
    'insertcode',
    '|',
    'source'
     ];
  editor.create();
  </script>
{% end %}
