{% extends "base.html" %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="../static/editor/css/wangEditor.min.css">
{% end %}

{% block body %}

    <h2 class="mdl-cell mdl-cell--12-col">稿子编辑</h2>
    <form action="/upload" method="post">
      <div class="mdl-cell mdl-cell--12-col">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label edit-input">
          <input class="mdl-textfield__input" name="edit_title" type="text" id="title" required>
          <label class="mdl-textfield__label" for="title">标题</label>
        </div>
        <textarea id="textarea" name="edit_text" style="height:600px;">{{ draft_text }}<p>请输入内容...</p></textarea>
      </div>
      <div class="mdl-cell mdl-cell--12-col">
        <p>类目</p>
        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-1">
          <input type="checkbox" id="checkbox-1" class="mdl-checkbox__input" checked>
          <span class="mdl-checkbox__label">默认</span>
        </label>
        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-2">
          <input type="checkbox" id="checkbox-2" class="mdl-checkbox__input" >
          <span class="mdl-checkbox__label">微信</span>
        </label>
        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-3">
          <input type="checkbox" id="checkbox-3" class="mdl-checkbox__input" >
          <span class="mdl-checkbox__label">支付宝</span>
        </label>
      </div>
      <div class="mdl-cell mdl-cell--12-col">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="text" id="invite_code" name="invite_code" required>
          <label class="mdl-textfield__label" for="invite_code">邀请码</label>
        </div>
      </div>
      <div class="mdl-cell mdl-cell--12-col">
      <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">
        投稿
      </button>
    </div>
    </form>
<script type="text/javascript" src="../static/editor/js/lib/jquery-1.10.2.min.js"></script>
  <script type="text/javascript" src="../static/editor/js/wangEditor.js"></script>
  <script type="text/javascript">
  var editor = new wangEditor('textarea');
  editor.config.menus = [
    'bold',
    'underline',
    'eraser',
    'forecolor',
    '|',
    'quote',
    'head',
    'unorderlist',
    'orderlist',
    'alignleft',
    'aligncenter',
    'alignright',
    'table',
    '|',
    'link',
    'unlink',
    'img',
    'video',
    'insertcode',
    '|',
    'source'
     ];
  editor.create();
  </script>
{% end %}
