{% extends "base.html" %}

{% block body %}

<div class="container">
    <p> {{ info }} </p>
    <h2>稿子编辑</h2>
    <form action="/upload" method="post">

      <div class="form-group">
        标题
      <input type="text" class="form-control" name="edit_title" placeholder="请输入标题" required value= {{ draft_title }} ></input>
    </div>
      <div class="form-group">
        内容
        <textarea type="text" class="form-control" name="edit_text" placeholder="正文内容" required rows="30" style="resize: none;">{{ draft_text }}</textarea>
      </div>
      <div class="form-group">
        TODO 类目
        <select class="form-control">
          <option value="">类目1</option>
          <option value="">类目2</option>
        </select>
      </div>
      <div class="form-group">
        Invite Code邀请码：
        <input type="text" class="form-control" name="invite_code" placeholder="邀请码"></input>
      </div>
      <input type="submit" class="btn btn-default" value="投稿"/>
    </form>
</div>

{% end %}
