{% extends "base.html" %}

{% block body %}

  <div class="mdl-cell mdl-cell--12-col">
    <h1>获得帮助</h1>
    <hr>
    <h2>了解本站</h2>
    <p>本站是一个帮助父母长辈熟悉新潮的互联网产物，解决问题的社区。有经验、问答、辟谣和应用推荐等板块。</p>
    <h2>了解板块</h2>
    <p>经验<br>由用户主动撰写一个场景的经验或技巧。</p>
    <p>问答<br>困惑的用户在此提问，由有这方面经验的用户撰写答案回复提问者。答案会并入经验模块的仓库中。</p>
    <p>辟谣<br>1）由用户主动撰写一个帖子辟谣网络上流传的消息。<br>2）用户留下有疑问的消息，再由对此有权威经验或认识的用户来回答，以验证此消息的真伪。</p>
    <p>应用推荐<br>无广告、无流氓行为的app推荐</p>
    <h2>声明</h2>
    <p>所有内容由用户自愿爱心发布，欢迎大家贡献宝贵的经验。本站目前为业余练手项目，可能存在不稳定、被恶意破坏的情况，因此可能会出现虚假信息和垃圾信息，我们会尽可能实现零无用信息。</p>
    <h2>联系我们</h2>
    <p>微信</p>
    <p><img style="max-width:100%;" src="http://7xshru.com1.z0.glb.clouddn.com/wj-qr-code.jpg"></p>
    <p>添加时请注明［扬气吐眉］</p>
  </div>

{% end %}
